$color-blue-dark: #191825;
$color-blue-dark-50: rgba(25, 24, 37, .5);
$color-blue-dark-75: rgba(25, 24, 37, 0.75);
$color-blue: #222831;
$color-gray: #EEEEEE;
$color-purple: #5D50C6;
$color-pink: #F85E9F;
$color-orange: #FF5722;
$color-yellow: #FACD49;

$font-circular: 'Circular Std', sans-serif;
$font-inter: 'Inter', sans-serif;

