.companies-section {

    &::after {
        content: url(../../images/companies-bg.png);
        position: absolute;
        right: 0;
        top: 60%;
        transform: translateY(-50%);
        width: 500px;
    }
}