.travelPointBg {
    
    background-image: url('../../images/location-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 270px;
    width: 100%;
    margin-left: 0px;

    @media screen and (min-width: 370px) {
        height: 300px;
    }

    @media screen and (min-width: 415px) {
        height: 350px;
    }

    @media screen and (min-width: 480px) {
        height: 430px;
    }

    @media screen and (min-width: 576px) {
        height: 400px;
        width: 500px;
    }

    @media screen and (min-width: 768px) {
        height: 562px;
        width: 700px;
    }
    @media screen and (min-width: 992px) {
        height: 700px;
        width: 870px;
    }

    @media screen and (min-width: 1200px) {
        height: 612px;
        width: 770px;
        margin-left: -128px;
    }
}