::placeholder {
    text-transform: capitalize;
    color: $color-blue-dark-75;
}
.form-control {
    background-image: url(../../images/icons/envelope.svg);
    background-repeat: no-repeat;
    background-position: 32px center;
}
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: none;
    outline: 0;
    box-shadow: none;
}