// ======================> Border Colours
.border-gray {
    border-color: $color-gray !important;
}
.border-blue-dark-10 {
    border-color: $color-blue-dark-10 !important;
}
// =======================> Border Radius
.rounded-rs-2rem {
    border-radius: 1rem !important;

    @media screen and (min-width: 992px) {
        border-radius: 2rem !important;
    }
}