.text-pink {
    color: $color-pink;
}
.text-orange {
    color: $color-orange;
}
.text-yellow {
    color: $color-yellow;
}
.text-purple {
    color: $color-purple;
}
.text-gray {
    color: $color-gray;
}
.text-blue {
    color: $color-blue;
}
.text-blue-dark {
    color: $color-blue-dark;
}
.text-blue-dark-50 {
    color: $color-blue-dark-50;
}
.text-blue-dark-75 {
    color: $color-blue-dark-75;
}

.bg-pink {
    background-color: $color-pink;
}
.bg-orange {
    background-color: $color-orange;
}
.bg-yellow {
    background-color: $color-yellow;
}
.bg-purple {
    background-color: $color-purple;
}
.bg-gray {
    background-color: $color-gray;
}
.bg-blue {
    background-color: $color-blue;
}
.bg-blue-dark {
    background-color: $color-blue-dark;
}
.bg-blue-dark-50 {
    background-color: $color-blue-dark-50;
}
.bg-blue-dark-75 {
    background-color: $color-blue-dark-75;
}