.text-pink {
    color: $color-pink !important;
}
.text-orange {
    color: $color-orange !important;
}
.text-yellow {
    color: $color-yellow !important;
}
.text-purple {
    color: $color-purple !important;
}
.text-gray {
    color: $color-gray !important;
}
.text-blue {
    color: $color-blue !important;
}
.text-blue-dark {
    color: $color-blue-dark !important;
}
.text-blue-dark-5 {
    color: $color-blue-dark-5 !important;
}
.text-blue-dark-50 {
    color: $color-blue-dark-50 !important;
}
.text-blue-dark-75 {
    color: $color-blue-dark-75 !important;
}
.text-yellow-10 {
    color: $color-yellow-10 !important;
}


.bg-pink {
    background-color: $color-pink !important;
}
.bg-orange {
    background-color: $color-orange !important;
}
.bg-yellow {
    background-color: $color-yellow !important;
}
.bg-purple {
    background-color: $color-purple !important;
}
.bg-gray {
    background-color: $color-gray !important;
}
.bg-blue {
    background-color: $color-blue !important;
}
.bg-blue-dark {
    background-color: $color-blue-dark !important;
}
.bg-blue-dark-5 {
    background-color: $color-blue-dark-5 !important;
}
.bg-blue-dark-50 {
    background-color: $color-blue-dark-50 !important;
}
.bg-blue-dark-75 {
    background-color: $color-blue-dark-75 !important;
}
.bg-yellow-10 {
    background-color: $color-yellow-10 !important;
}