.top-lg-43 {
    top: initial;

    @media screen and (min-width: 992px){
        top: 43%;
    }
}
.bottom-lg-n128 {
    bottom: -128px;

    @media screen and (min-width: 992px){
        bottom: initial;
    }
}
.bottom-n222 {
    bottom: -222px;
}
.start-n35 {
    left: -35px;
}
.top-n54 {
    top: -54%;
}
.top-n67 {
    top: -67px;
}
.end-n348 {
    right: -348px;
}
.end-n50 {
    right: -50%;
}