// ======================> Width Utilities
.w-24 {
    width: 24px;
}
.w-30 {
    width: 30px;
}
.w-32 {
    width: 32px;
}
.w-40 {
    width: 40px;
}
.w-48 {
    width: 48px;
}
.w-64 {
    width: 64px;
}
.w-100px {
    width: 100px;
}
.w-115 {
    width: 115px;
}
.w-128 {
    width: 128px !important;
}
.w-141 {
    width: 100%;

    @media screen and (min-width: 992px) {
        & {
            width: 141px;
        }
    }
}
.w-181 {
    width: 100%;

    @media screen and (min-width: 992px) {
        & {
            width: 181px;
        }
    }
}
.w-184 {
    width: 184px;
} 
.w-224 {
    width: 224px;
}
.w-rs-24 {
    width: 15px;

    @media screen and (min-width: 992px) {
        width: 24px;
    }
}
.w-rs-75 {
    width: 100%;

    @media screen and (min-width: 992px) {
        width: 75%;
    }
}
.w-rs-350 {
    width: 100%;

    @media screen and (min-width: 992px) {
        width: 350px;
    }
}
.w-xl-auto {
    width: 100%;

    @media screen and (min-width: 1200px) {
        width: auto;
    }
}
.w-lg-100 {
    width: 64px !important;

    @media screen and (min-width: 992px) {
        width: 100px !important;
    }
}
.w-lg-235 {
    width: 100%;

    @media screen and (min-width: 992px){
        width: 235px;
    }
}
// ======================> Height Utilities
.h-24 {
    height: 24px;
}
.h-30 {
    height: 30px;
}
.h-32 {
    height: 32px;
}
.h-40 {
    height: 40px;
}
.h-48 {
    height: 48px;
}
.h-49 {
    height: 49px;
}
.h-56 {
    height: 56px;
}
.h-100px {
    height: 100px;
}
.h-rs-32 {
    height: 20px;

    @media screen and (min-width: 992px) {
        height: 32px;
    }
}
.h-128 {
    height: 128px !important;
}
.h-176 {
    height: 176px;
}
.h-713 {
    height: 713px;
}
.h-lg-96 {
    height: initial;

    @media screen and (min-width: 992px) {
        height: 96px;
    }
}
.h-rs-24 {
    height: 15px;

    @media screen and (min-width: 992px) {
        height: 24px;
    }
}
.h-rs-49 {
    height: 65px;
    
    @media screen and (min-width: 992px) {
        height: 49px;
    }
}
.h-rs-56 {
    height: 72px;

    @media screen and (min-width: 992px) {
        height: 56px;
    }
}
.h-rs-67 {
    height: 67px;

    @media screen and (min-width: 992px){
        height: initial;
    }
}
.h-rs-100 {
    height: 64px !important;

    @media screen and (min-width: 992px) {
        height: 100px !important;
    }
}
.h-rs-500 {
    height: auto;
    @media screen and (min-width: 992px) {
        height: 500px;
    }
    @media screen and (min-width: 1400px) {
        height: 600px;
    }
}
.h-rs-697 {
    height: auto;

    @media screen and (min-width: 1200px) {
        height: 697px;
    }
}