// ============> Custom Padding Utilities 
.p-rs-64 {
    padding: 2rem;

    @media screen and (min-width: 992px) {
        padding: 4rem;
    }
}
.py-2rem {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.p-2rem {
    padding: 2rem;
}
.py-rs-64 {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @media screen and (min-width: 992px) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}
.pb-rs-64 {
    padding-bottom: 2rem;

    @media screen and (min-width: 992px) {
        padding-bottom: 4rem;
    }
}
.py-rs-128 {
    padding-top: 4rem;
    padding-bottom: 4rem;

    @media screen and (min-width: 992px) {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
}
.px-rs-64 {
    padding-left: 2rem;
    padding-right: 2rem;

    @media screen and (min-width: 992px) {
        & {
            padding-left: 4rem;
            padding-right: 4rem;
        }
    }
}
.ps-rs-72 {
    padding-left: 4.5rem !important;

    @media screen and (min-width: 992px) {
        padding-left: 5rem !important;
    }
}
@media screen and (min-width: 992px) {
    .p-lg-32 {
        padding: 2rem;
    }
} 

// ============> Custom Margin Utilities 
.ms-rs-n128 { // <=================================================================== !!!!!!!!
    margin-left: 0;

    @media screen and (min-width: 1200px) {
            margin-left: -128px;
        }
}
.mb-2rem {
    margin-bottom: 2rem !important;
}
.mb-4rem {
    margin-bottom: 4rem !important;
}
@media screen and (min-width: 992px) {
    .mb-lg-4rem {
        margin-bottom: 4rem;    
    }
}
.mb-rs-2rem {
    margin-bottom: 2rem;

    @media screen and (min-width: 992px) {
        margin-bottom: initial;
    }
}
.mb-rs-43 {
    margin-bottom: 24px;

    @media screen and (min-width: 992px) {
        margin-bottom: 32px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 43px;
    }
}
.mb-rs-64 {
    margin-bottom: 2rem;

    @media screen and (min-width: 992px) {
        margin-bottom: 4rem;
    }
}
.mb-rs-xl-4rem {
    margin-bottom: 2rem;

    @media screen and (min-width: 1200px) {
        margin-bottom: 4rem;
    }
}
.mb-rs-128 {
    margin-bottom: 12rem;

    @media screen and (min-width: 992px) {
        margin-bottom: 4rem;
    }
}
.mt-4rem {
    margin-top: 4rem;

    @media screen and (min-width: 1200px) {
        margin-top: initial;
    }
}
.mt-2rem {
    margin-top: 2rem;
}
.mt-md-2rem {
    margin-top: 2rem;

    @media screen and (min-width: 992px) {
        margin-top: 0;
    }
}
.mt-rs-32 {
    margin-top: 32px;

    @media screen and (min-width: 992px) {
        margin-top: 43px;
    }
}
.mt-rs-43 {
    margin-top: 16px;

    @media screen and (min-width: 992px) {
        margin-top: 32px;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 43px;
    }
}
.mt-rs-n50 {
    margin-top: 100px;

    @media screen and (min-width: 992px) {
        margin-top: -50px;
    }
}
.mt-rs-4rem {
    margin-top: 2rem;

    @media screen and (min-width: 992px){
        margin-top: 4rem;
    }
}
.mb-rs-56 {
    margin-bottom: 4rem;

    @media screen and (min-width: 992px) {
        margin-bottom: 3.5rem;
    }
}
.my-rs-56 {
    margin-top: 4rem;
    margin-bottom: 4rem;

    @media screen and (min-width: 992px) {
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
    }
}
.my-rs-60 {
    margin-top: 25px;
    margin-bottom: 25px;

    @media screen and (min-width: 992px){
        margin-top: 50px;
        margin-bottom: 50px;
    }
    @media screen and (min-width: 1200px){
        margin-top: 60px;
        margin-bottom: 60px;
    }
}
@media screen and (min-width: 992px) {
    .mt-lg-177 {
        margin-top: 177px;
    }
}
// ============> Custom Positioning Utilities 
.start-n128 {
    left: -8rem;
}
.end-rs-n80 {
    right: -120px;

    @media screen and (min-width: 1400px) {
        right: -5rem;
    }
}

// ============> Custom Gap Utilities 
.column-gap-2rem {
    column-gap: 2rem;
}
.column-gap-lg-2rem {
    column-gap: initial;

    @media screen and (min-width: 992px) {
        column-gap: 2rem;
    }
}
.column-gap-lg-4rem {
    column-gap: initial;

    @media screen and (min-width: 992px) {
        column-gap: 4rem;
    }
}


.row-gap-lg-2rem {
    row-gap: initial;

    @media screen and (max-width: 991px) {
        row-gap: 2rem;
    }
}
.row-gap-2rem {
    row-gap: 2rem;

    @media screen and (min-width: 992px) {
        row-gap: initial;
    }
}
.row-gap-xl-4rem {
    row-gap: 4rem;

    @media screen and (min-width: 1200px) {
        row-gap: initial;
    }
}
.row-gap-xl-2rem {
    row-gap: 2rem;

    @media screen and (min-width: 1200px) {
        row-gap: initial;
    }
}