.font-circular {
    font-family: $font-circular;
}
.font-inter {
    font-family: $font-inter !important;
}

.fw-450 {
    font-weight: $fw-450 !important;
}

.fs-14 {
    font-size: 14px;
}
.fs-18 {
    font-size: 18px;
}
.fs-24 {
    font-size: 24px;
}
@media screen and (max-width: 991px) {
    .fs-32 {
        font-size: 2rem;
    }
}
.fs-44 {
    font-size: 32px;
}

@media screen and (min-width: 992px) {
    .fs-lg-55 {
        font-size: 55px;
    }
}
.fs-69 {
    font-size: 40px;
}


@media screen and (min-width: 992px) {
    .fs-69 {
        font-size: 50px;
    }
    .fs-44 {
        font-size: 35px;
    }
}
@media screen and (min-width: 1200px) {
    .fs-69 {
        font-size: 60px;
    }
    .fs-44 {
        font-size: 40px;
    }

}

@media screen and (min-width: 1400px) {
    .fs-69 {
        font-size: 69px;
    }
    .fs-44 {
        font-size: 44px;
    }

}