@import './partials/basis/fonts';
@import './partials/basis/vars';

@import './partials/utilities/colours';
@import './partials/utilities/text';
@import './partials/utilities/spacing';
@import './partials/utilities/sizing';
@import './partials/utilities/shadows';
@import './partials/utilities/borders';
@import './partials/utilities/position';

@import './partials/components/cards';
@import './partials/components//accordion';
@import './partials/components/form';
@import './partials//components/navbar';

@import './partials/layout/companies-section';
@import './partials/layout/travelPoint-section';

* {
    font-family: $font-circular !important;
    font-weight: 700 !important;
}
::placeholder {
    text-transform: capitalize;
    color: $color-blue-dark-75;
}
.form-control {
    background-image: url(../../images/icons/envelope.svg);
    background-repeat: no-repeat;
    background-position: 32px center;
}