@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  src: local("Circular Std"), url(../../fonts/CircularStd-Book.woff) format("woff"), url(../../fonts/CircularStd-Book.otf) format("otf"), url(../../fonts/CircularStd-Book.ttf) format("ttf");
}
@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  src: local("Circular Std"), url(../../fonts/CircularStd-Bold.woff) format("woff"), url(../../fonts/CircularStd-Bold.otf) format("otf"), url(../../fonts/CircularStd-Bold.ttf) format("ttf");
}
@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 900;
  src: local("Circular Std"), url(../../fonts/CircularStd-Black.woff) format("woff"), url(../../fonts/CircularStd-Black.otf) format("otf"), url(../../fonts/CircularStd-Black.ttf) format("ttf");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local("Inter"), url(../../fonts/Inter-Regular.ttf) format("ttf");
}
.text-pink {
  color: #F85E9F !important;
}

.text-orange {
  color: #FF5722 !important;
}

.text-yellow {
  color: #FACD49 !important;
}

.text-purple {
  color: #5D50C6 !important;
}

.text-gray {
  color: #EEEEEE !important;
}

.text-blue {
  color: #222831 !important;
}

.text-blue-dark {
  color: #191825 !important;
}

.text-blue-dark-50 {
  color: rgba(25, 24, 37, 0.5) !important;
}

.text-blue-dark-75 {
  color: rgba(25, 24, 37, 0.75) !important;
}

.text-yellow-10 {
  color: rgba(250, 205, 73, 0.078) !important;
}

.bg-pink {
  background-color: #F85E9F !important;
}

.bg-orange {
  background-color: #FF5722 !important;
}

.bg-yellow {
  background-color: #FACD49 !important;
}

.bg-purple {
  background-color: #5D50C6 !important;
}

.bg-gray {
  background-color: #EEEEEE !important;
}

.bg-blue {
  background-color: #222831 !important;
}

.bg-blue-dark {
  background-color: #191825 !important;
}

.bg-blue-dark-50 {
  background-color: rgba(25, 24, 37, 0.5) !important;
}

.bg-blue-dark-75 {
  background-color: rgba(25, 24, 37, 0.75) !important;
}

.bg-yellow-10 {
  background-color: rgba(250, 205, 73, 0.078) !important;
}

.font-circular {
  font-family: "Circular Std", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif !important;
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

.fs-24 {
  font-size: 24px;
}

.fs-69 {
  font-size: 40px;
}

@media screen and (min-width: 992px) {
  .fs-69 {
    font-size: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .fs-69 {
    font-size: 60px;
  }
}
@media screen and (min-width: 1400px) {
  .fs-69 {
    font-size: 69px;
  }
}
.py-2rem {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-rs-64 {
  padding-top: 32px;
  padding-bottom: 32px;
}
@media screen and (min-width: 992px) {
  .py-rs-64 {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.my-60 {
  margin-top: 25px;
  margin-bottom: 25px;
}

@media screen and (min-width: 992px) {
  .my-60 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .my-60 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
.w-24 {
  width: 24px;
}

.w-30 {
  width: 30px;
}

.w-40 {
  width: 40px;
}

.w-115 {
  width: 115px;
}

.w-141 {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .w-141 {
    width: 141px;
  }
}

.w-181 {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .w-181 {
    width: 181px;
  }
}

.w-224 {
  width: 224px;
}

.h-32 {
  height: 32px;
}

.h-49 {
  height: 49px;
}

.h-rs-49 {
  height: 65px;
}
@media screen and (min-width: 992px) {
  .h-rs-49 {
    height: 49px;
  }
}

.h-30 {
  height: 30px;
}

.h-40 {
  height: 40px;
}

.h-56 {
  height: 56px;
}

.h-rs-56 {
  height: 72px;
}
@media screen and (min-width: 992px) {
  .h-rs-56 {
    height: 56px;
  }
}

.h-713 {
  height: 713px;
}

.btn-shadow {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.071), 0px 34px 75px 0px rgba(0, 0, 0, 0.071), 0px 137px 137px 0px rgba(0, 0, 0, 0.059), 0px 308px 185px 0px rgba(0, 0, 0, 0.039), 0px 548px 219px 0px rgba(0, 0, 0, 0.012), 0px 856px 240px 0px rgba(0, 0, 0, 0);
}

.btn-shadow-light {
  box-shadow: 0px 81px 32px rgba(0, 0, 0, 0.01), 0px 45px 27px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.09), 0px 5px 11px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.border-gray {
  border-color: #EEEEEE !important;
}

* {
  font-family: "Circular Std", sans-serif !important;
  font-weight: 700 !important;
}/*# sourceMappingURL=main.css.map */